:root {
  /* Choose Primary, Secondary and Accent Colors */
  /* Main Colors */
  --color-primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );

  --color-secondary: hsl(
    var(--secondary-hue),
    var(--secondary-saturation),
    var(--primary-lightness)
  );

  --color-accent: hsl(
    var(--accent-hue),
    var(--accent-saturation),
    var(--accent-lightness)
  );

  --color-headings: hsl(
    var(--heading-hue),
    var(--heading-saturation),
    var(--heading-lightness)
  );

  --font-color-button: hsl(
    var(--button-hue),
    var(--button-saturation),
    var(--button-lightness)
  );
  --color-body: #918ca4;
  --color-body-darker: #5c5577;

  /* Borders */
  --color-border: #ccc;
  --border-radius: 30px;

  /* Lightness Level for Hover */
  --color-lighten: 4%;

  /* Color Identifiers */
  /* For Primary */
  --primary-hue: 214;
  --primary-saturation: 100%;
  --primary-lightness: 57%;

  /* For Secondary */
  --secondary-hue: 189;
  --secondary-saturation: 100%;
  --secondary-lightness: 50%;

  /* For Accent */
  --accent-hue: 12;
  --accent-saturation: 100%;
  --accent-lightness: 50%;

  /* For Heading Color */
  --heading-hue: 253;
  --heading-saturation: 86%;
  --heading-lightness: 20%;

  /* Button Text Color */
  --button-hue: 0;
  --button-saturation: 0%;
  --button-lightness: 100%;
}

/* typography */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

/* Badges */
.badge {
  border-radius: 20px;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
}

.badge--secondary {
  background: var(--color-secondary);
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

/* lists */
.list {
  list-style: none;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
  display: flex;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  align-items: center;
  background-color: #f3f9f1;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

.icon-container--accent {
  background: var(--color-accent);
  fill: var(--font-color-button);
}
.icon-container--accent .icon {
  background: var(--color-accent);
  fill: var(--font-color-button);
}

/* Buttons */
.button {
  background: hsla(0, 0%, 0%, 0);
  border-radius: 3rem;
  color: var(--color-headings);
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem 4rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
}
.button:hover {
  transition: background 0.15s;
}

.button-plain:hover {
  background: hsla(0, 0%, 0%, 0.02);
}

.button-stretched {
  padding: 1.4rem 6rem;
}

.button-block {
  width: 100%;
  display: inline-block;
}

.button--primary {
  background: var(--color-primary);
  border: none;
  color: white;
}

.button--primary:hover {
  background: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-lightness) + var(--color-lighten))
  );
}

.button--accent {
  background: var(--color-accent);
  border: none;
  color: white;
}

.button--accent:hover {
  background: hsl(
    var(--accent-hue),
    var(--accent-saturation),
    calc(var(--accent-lightness) + var(--color-lighten))
  );
}

.button--secondary {
  background: var(--color-secondary);
  border: none;
  color: white;
}

.button--secondary:hover {
  background: hsl(
    var(--secondary-hue),
    var(--secondary-saturation),
    calc(var(--secondary-lightness) + var(--color-lighten))
  );
}

.button--dark {
  background: var(--color-headings);
  border: none;
  color: white;
}

.button--dark:hover {
  background: hsl(
    var(--heading-hue),
    var(--heading-saturation),
    calc(var(--heading-lightness) + var(--color-lighten))
  );
}

/* inputs */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

.input::placeholder {
  color: #cdcbd7;
}
.input-group {
  border: 1px solid var(--color-border);
  display: flex;
  border-radius: var(--border-radius);
}

/* remove border on input if it is in an inout-group */
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

/* decrease margin on button if it is in the input group */
.input-group .button {
  margin: 3px;
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  margin: 1rem;
  overflow: hidden;
}
.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: var(--font-color-button);
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: var(--font-color-button);
}

/* Plans */
.plan__title {
  color: var(--font-color-button);
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -3px;
  right: 5%;
}

/* Quotes */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}

.quote__company {
  font-style: normal;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-headings);
  opacity: 0.4;
}

.quote__author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

/* Media Objects */
.media {
  display: flex;
}

.media__image {
  margin-top: 1rem;
}

.media__title {
  margin-top: 0;
}
.media__body {
  margin: 0 2rem;
}

/* Grids */
.grid {
  display: grid;
}

/* Testimonials */
.testimonial {
  padding: 3rem;
  max-width: 1000px;
  position: relative;
  margin: 1rem;
  overflow: visible;
}
.testimonial .icon {
  width: 30px;
  height: 30px;
}
.quote-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial__image {
  width: 100%;
  max-width: 400px;
}

.testimonial__quote-image {
  position: absolute;
  top: 50px;
  right: -0.5%;
}

.testimonial .quote__text {
  margin-bottom: 1rem;
}

/* Callouts */
.callout {
  padding: 4rem;
  border-radius: 5px;
  overflow: hidden;
}
.callout--primary {
  background: var(--color-primary);
  color: var(--font-color-button);
}

.callout__heading {
  color: var(--font-color-button);
  margin-top: 0;
  font-size: 3rem;
}

.callout .button {
  align-self: center;
  justify-self: center;
}

.callout__content {
  text-align: center;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

/* Large Mobile Devices */
@media screen and (min-width: 480px) {
  .testimonial__quote-image {
    right: calc(calc((100% - 400px) / 2) - 5%);
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
  /* Grids */
  .grid--cols-2 {
    grid-template-columns: 1fr 1fr;
  }

  /* Testimonials */
  .testimonial__quote-image {
    top: calc(calc((100% - 400px) / 2) + 15%);
    right: 46%;
  }

  .testimonial .quote {
    margin-left: 5rem;
    font-size: 2.4rem;
    margin-top: 6rem;
  }
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  /* Callouts */
  .callout__content {
    text-align: left;
  }

  .callout .button {
    justify-self: start;
    margin: 0 2rem;
  }
  .callout .grid--cols-2 {
    grid-template-columns: 1fr auto;
  }
}

/* Large Tablets */
@media screen and (min-width: 860px) {
  .testimonial__quote-image {
    right: calc(calc((100% - 373px) / 2) + 19%);
  }
}

/* Desktops */
@media screen and (min-width: 1024px) {
  /* typography */
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h3 {
    font-size: 2.4rem;
  }

  /* links */
  .link-arrow {
    font-size: 1.5rem;
  }

  /* badges */
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }

  /* lists */
  .list--tick .list__item {
    padding-left: 0;
  }

  /* buttons */
  .button {
    font-size: 1.5rem;
  }

  /* inputs */
  .input {
    font-size: 1.5rem;
  }

  /* Cards */
  .plan__title {
    font-size: 2rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }

  /* Quotes */
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__company {
    font-size: 1.6rem;
  }

  /* Grids */
  .grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
