<div class="callout callout--primary">
  <div class="grid grid--cols-2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p class="callout__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis repellendus architecto sunt delectus? Ducimus earum vero sequi similique itaque iste eveniet voluptates praesentium ab cum?
      </p>
    </div>
    <a href="#" class="button button--secondary button--stretched">Get Started</a>
  </div>
</div>