<article class="grid grid--cols-2 feature__component">
  <div class="feature__content">
    <div class="info-block">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, deserunt. Molestiae harum nobis temporibus tempore nihil repudiandae, nam quis exercitationem, dolorem in ipsa voluptas reiciendis?</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/support/support.webp 1x, images/support/support@2x.webp 2x">
      <source type="image/jpg" srcset="images/support/support.jpg 1x, images/support/support@2x.jpg 2x">
      <img src="images/support/support@2x.jpg" alt="" class="feature__image">
    </picture>
  </div>
</article>