<section class="block container feature__block">
  <header class="block__header">
    <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, laudantium odio nihil sunt commodi quia.</p>
  </header>
  <article class="grid grid--cols-2 feature__component">
    <div class="info-block">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, deserunt. Molestiae harum nobis temporibus tempore nihil repudiandae, nam quis exercitationem, dolorem in ipsa voluptas reiciendis?</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy/easy.webp 1x, images/easy/easy@2x.webp 2x">
      <source type="image/jpg" srcset="images/easy/easy.jpg 1x, images/easy/easy@2x.jpg 2x">
      <img src="images/easy/easy@2x.jpg" alt="" class="feature__image">
    </picture>
  </article>
  <article class="grid grid--cols-2 feature__component">
    <div class="info-block">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply fast websites</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, deserunt. Molestiae harum nobis temporibus tempore nihil repudiandae, nam quis exercitationem, dolorem in ipsa voluptas reiciendis?</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/fast/fast.webp 1x, images/fast/fast@2x.webp 2x">
      <source type="image/jpg" srcset="images/fast/fast.jpg 1x, images/fast/fast@2x.jpg 2x">
      <img src="images/fast/fast@2x.jpg" alt="" class="feature__image">
    </picture>
  </article>
  <article class="grid grid--cols-2 feature__component">
    <div class="info-block">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress made easy</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, deserunt. Molestiae harum nobis temporibus tempore nihil repudiandae, nam quis exercitationem, dolorem in ipsa voluptas reiciendis?</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/wordpress/wordpress.webp 1x, images/wordpress/wordpress@2x.webp 2x">
      <source type="image/jpg" srcset="images/wordpress/wordpress.jpg 1x, images/wordpress/wordpress@2x.jpg 2x">
      <img src="images/wordpress/wordpress@2x.jpg" alt="" class="feature__image">
    </picture>
  </article>
  <article class="grid grid--cols-2 feature__component">
    <div class="info-block">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, deserunt. Molestiae harum nobis temporibus tempore nihil repudiandae, nam quis exercitationem, dolorem in ipsa voluptas reiciendis?</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/support/support.webp 1x, images/support/support@2x.webp 2x">
      <source type="image/jpg" srcset="images/support/support.jpg 1x, images/support/support@2x.jpg 2x">
      <img src="images/support/support@2x.jpg" alt="" class="feature__image">
    </picture>
  </article>
</section>