<section class="block block--dark block--skewed-right showcase__block">
  <div class="container">
    <header class="block__header">
      <h2>User-Friendly Control Panel</h2>
    </header>
    <article class="grid grid--cols-2">
      <picture class="showcase__image">
        <source type="image/webp" srcset="images/ipad/ipad.webp 1x, images/ipad/ipad@2x.webp 2x">
        <source type="image/jpg" srcset="images/ipad/ipad.jpg 1x, images/ipad/ipad@2x.jpg 2x">
        <img src="images/ipad/ipad@2x.jpg" alt="" >
      </picture>
      <div class="showcase__body">
        <section class="showcase__section">
          <header class="showcase__header">
            <svg class="icon icon--primary showcase__icon">
              <use href="images/sprite.svg#snap"></use>
            </svg>
            <h3 class="showcase__section__title">Easy Start & Managed Updates</h3>
          </header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum iste consequatur perferendis rerum unde voluptates nulla et debitis omnis dignissimos!</p>
        </section>
        <section class="showcase__section">
          <header class="showcase__header">
            <svg class="icon icon--primary showcase__icon">
              <use href="images/sprite.svg#growth"></use>
            </svg>
            <h3 class="showcase__section__title">Staging, Git & WP-CLI</h3>
          </header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum iste consequatur perferendis rerum unde voluptates nulla et debitis omnis dignissimos!</p>
        </section>
        <section class="showcase__section">
            <header class="showcase__header">
              <svg class="icon icon--primary showcase__icon">
                <use href="images/sprite.svg#wordpress"></use>
              </svg>
              <h3 class="showcase__section__title">Dynamic Caching & More</h3>
            </header>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum iste consequatur perferendis rerum unde voluptates nulla et debitis omnis dignissimos!</p>
        </section>
      </div>
    </article>
  </div>
</section>